<ons-page ng-controller="LatestController as latest">
  <ons-toolbar style="position: fixed;" fixed-style>
    <div class="center youtube-toolbar">Onsen UI YouTube - History</div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item modifier="tappable" class="list-item-container" ng-repeat="item in latest.items track by $index" ng-click="modal.show(); launch(video, false)">
      <ons-row>
        <ons-col width="95px" ng-if="item.images && item.images.length > 0">
          <img class="thumbnail" ng-src="images/{{ item.images[0].path }}" />
        </ons-col>
        <ons-col>
          <div class="title">
            {{ item.title }}
          </div>
          <div class="user">
            <ons-icon icon="fa fa-user"><span style="font-size: 12px"> {{ video.author ? video.author : "Anonymous" }}</span></ons-icon>
          </div>
          <div class="desc">
            {{ video.description }}
          </div>
        </ons-col>
        <ons-col width="40px"></ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
</ons-page>
